{
    parser: "typescript",
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                semi: true,
                singleQuote: true,
                bracketSpacing: true,
            }
        }
    ]
}